@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");

* {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #88cda5, #07b4e2);
  background-size: cover;
}

.list-container {
  width: 100vw;
  padding: 1rem;
  z-index: 2;
  background-color: #032541;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #88cda5, #07b4e2) 10;
}

.list-container label {
  color: white;
}

.list-container select {
  border-radius: 8px;
  margin: 10px 0;
}

#get {
  padding: 0 1rem;
  border-radius: 8px;
  border-color: #767676;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-size: cover;
}

.foreground {
  display: grid;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000b4;
}

.movie-content {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(16, 4%);
  gap: 0.5rem 2rem;
  justify-self: center;
  align-self: center;
  color: white;
}

#poster {
  width: 100%;
  grid-column: span 4;
  grid-row: 1 / span 6;
  aspect-ratio: 2 / 3;
  border-radius: 8px;
  color: #000;
  box-shadow: 0 0 1rem 3px #0000009c;
}

#trailer {
  width: 100%;
  grid-column: 11 / span 6;
  grid-row: span 2;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  color: #000;
  box-shadow: 0 0 1rem 3px #0000009c;
}

h1 {
  grid-column: 5 / span 10;
  vertical-align: middle;
  font-size: 3vw;
}

h2 {
  grid-column: span 6;
  font-variant: small-caps;
  font-weight: normal;
}

h3 {
  grid-column: span 6;
  font-weight: normal;
  font-style: italic;
}

#overview {
  grid-column: span 6;
  grid-row: 4 / span 4;
}
